*__pycache__*
*.h264
*.mkv
*.mp4
*.avi
*.mov
*.flv
*.wmv
*.m4v
*.webm
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.opus
*.wma
*.m4a
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.raw
*.svg
*.ico
*.webp
*.log
*.zip
*.json
yt-dlp
yt-dlp_linux